@use '../abstracts/variables' as *;

.hero {
    margin-top: 4rem;
    position: relative;
    overflow: hidden;

    &__bg-image {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__bg-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 2;
    }

    &__wrapper {
        padding: 4rem 1.25rem;
        max-width: 75rem;
        margin: auto;
        position: relative;
        z-index: 3;
    }

    &__button-container {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    &--full-height {
        height: calc(100dvh - 4rem);
    }
    
    &--half-height {
        min-height: calc(50dvh - 4rem);
    }
    
    .hero-text {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        &--center {
            text-align: center;
        }

        &--white {
            h1, p {
                color: white;
            }
        }
        
        &__headline {
            font-size: 3rem;
        }
    }
}

@media only screen and (min-width: 768px) {

    .hero {
    
        &__wrapper {
            padding: 7rem 0;
        }

        &__button-container {
            flex-direction: row;
            column-gap: 2rem;
    
            &--center-align {
                justify-content: center;
            }
        }

        .hero-text {
            &__headline {
                font-size: 4rem;
            }
        }
    }
}