@use "../abstracts/variables" as *;

.section {
    padding: 4.5rem 20px;

    &__wrapper {
        max-width: 75rem;
        margin: auto;

        .section-main {
            margin-bottom: 3.5rem;
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
        
            &--white {
                h2, p {
                    color: white;
                }
            }

            &--center {
                text-align: center;
            }
        }
    }
}

@media only screen and (min-width: 768px) {

    .section {

    }
}