$div-bottom-margin: 5rem;
$section-margin-large: 10rem;
$grid-row-gap: 2rem;
$max-width: 80rem;

// Text colors
$text-dark-primary: #3E3E42;
$text-light-primary: #ffffff;

// Main Project Colors
$arcadia-primary-one: #505477;
$arcadia-primary-two: #3E415B;
$arcadia-secondary-one: #FFC2C2;
$arcadia-secondary-two: #F982AA;
$bg-body-light-primary: #FFF6E1;
$bg-black: #1D1E21;

// App Signature Colors
$miru-primary: #A8C6A1;
$yomu-primary: #B2B2B2;
$asobu-primary: #E63946;
$tsunagu-primary: #FFCA3C;
$kau-primary: #4A69CF;

$iku-primary: #483D8B;
$shiru-primary: #FFA468;
$hiku-primary: #F0D66A;
$kiku-primary: #9370DB;
$kumitateru-primary: #3E3E42;

// Background gradients
$arcadia-gradient-vertical: linear-gradient(to bottom, #505477, #2F324B);
$gradient-pink-blue-horizontal: linear-gradient(to right, #FFC8DD, #A2D2FF);
$gradient-orange-pink-vertical: linear-gradient(to bottom, #FFD7BA, #FFA7A1);

// Others
$border-radius-default: 15px;
$box-shadow-default: 0px 4px 4px rgba(#000000, .25);